{{template "partials/header" .}}
<!-- Replace with your content -->
<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Webhook Details</h3>
        <p class="mt-1 text-sm leading-5 text-gray-600">
          Update your webhook details.
        </p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="/api/v1/webhooks/edit" method="POST">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div>
              <div class="col-span-6 sm:col-span-3">
                <label for="id" class="block text-sm font-medium leading-5 text-gray-700">ID</label>
                <input readonly id="id" name="id" required class="mt-1 form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 cursor-not-allowed" value="{{.webhook.ID}}">
              </div>
            </div>

            <div class="mt-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="url" class="block text-sm font-medium leading-5 text-gray-700">Webhook URL</label>
                <input readonly type="url" id="url" name="url" required class="mt-1 form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 cursor-not-allowed" value="https://hoopback.schwa.tech/w/{{.user.ID}}/{{.webhook.ID}}">
              </div>
            </div>

            <div class="mt-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="destination" class="block text-sm font-medium leading-5 text-gray-700">Destination Webhook</label>
                <input type="url" id="destination" name="destination" required class="mt-1 form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" value="{{.webhook.Destination}}">
              </div>
            </div>

            <div class="mt-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Name</label>
                <input id="name" name="name" required class="mt-1 form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" value="{{.webhook.Name}}">
              </div>
            </div>

            <div class="mt-6">
              <label for="transformations" class="block text-sm leading-5 font-medium text-gray-700">
                Transformations
              </label>
              <div class="rounded-md shadow-sm">
                <textarea id="transformations" name="transformations" required rows="3" class="form-textarea mt-1 block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" placeholder="{{.webhook.Transformations}}">{{.webhook.Transformations}}</textarea>
              </div>
              <p class="mt-2 text-sm text-gray-500">
                While we work on implementing a better system for transformations, here's a quick overview if you want to create your own webhook right now. Each value on the incoming webhook can be mapped to a value on the destination webhook. These fields are separated by a colon with the format <code>[incoming webhook field]:[outgoing webhook field]</code>. For example, if you had a field named <code>name</code> that you wanted to change to <code>author</code>, it would look like <code>name:author</code>. If you have multiple fields to transform, separate them by commas, e.g. <code>name:author,date:timestamp</code>.
              </p>
            </div>

            <div class="mt-6 col-span-6 sm:col-span-3">
              <label for="status" class="block text-sm font-medium leading-5 text-gray-700">Status</label>
              <select id="status" name="status" class="mt-1 block form-select w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                <option selected value="active">Active</option>
                <option value="disabled">Disabled</option>
              </select>
            </div>

            <input class="hidden" type="checkbox" name="web" id="web" value="true" checked>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <span class="inline-flex rounded-md shadow-sm">
              <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                Save
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="md:grid md:grid-cols-3 md:gap-6 mt-12">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Danger Zone</h3>
        <p class="mt-1 text-sm leading-5 text-gray-600">
          Watch out! This could do permanant damage to your webhook.
        </p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="/api/v1/webhooks/delete" method="POST">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <input readonly id="id" name="id" required class="mt-1 form-input w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 cursor-not-allowed hidden" value="{{.webhook.ID}}">
            <fieldset>
              <legend class="text-base leading-6 font-medium text-gray-900">Delete Webhook</legend>
              <p class="text-sm leading-5 text-gray-500">This will permanantly delete your webhook! You cannot come back from this.</p>
              <div class="mt-4">
                <!-- <button class="py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 shadow-sm hover:bg-red-500 focus:outline-none focus:shadow-outline-red focus:bg-red-500 active:bg-red-600 transition duration-150 ease-in-out float-right">
                  I'm sure, delete it!
                </button> -->
              </div>
            </fieldset>
            <input class="hidden" type="checkbox" name="web" id="web" value="true" checked>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 shadow-sm hover:bg-red-500 focus:outline-none focus:shadow-outline-red focus:bg-red-500 active:bg-red-600 transition duration-150 ease-in-out">
              I'm sure, delete it!
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /End replace -->
{{template "partials/footer" .}}